@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainColor: #2F855A;
  --secondaryColor: #EDEDD7;
  --textColor: #FFFFFF;
  --chatBG: #E9E9E9;
  --chatText: #000000;
  --font-sans: 'Inria Sans', sans-serif;
}

* {
  /* font-weight 300-700 */
  /* font-style: italic */
  font-family: var(--font-sans), sans-serif;
}

body {
  background: var(--secondaryColor);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.app-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  background: var(--textColor);
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 10vh;
}

.logo-container{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.logo{
  padding: 0.15rem;
}

.header-text-container{
  padding-left: 1rem;
}

.header-title {
  color: var(--mainColor);
  font-size: 2rem;
  font-weight: 700;
}

.header-subtitle {
  color: var(--mainColor);
  font-size: 0.9rem;
}

.header-title, 
.header-subtitle {
  line-height: 1;
}

.chat-container{
  display: flex;
  flex-direction: column;
  background-color: var(--textColor);
  margin: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  flex: 1;
  overflow: hidden;
}

.chat-header{
  background-color: var(--mainColor);
  height: 13vh;
}

.chat-header-text{
  padding: 1rem;
}

.chat-header-title {
  color: var(--textColor);
  font-size: 2.5rem;
  font-weight: 700;
}

.chat-header-subtitle {
  color: var(--textColor);
  font-size: 1.5rem;
}

.chat-header-title, 
.chat-header-subtitle {
  line-height: 1.1;
}

.chat-messages {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 1rem;
}

.chat-form{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.chat-input {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--secondaryColor);
  padding: 0.75rem;
  gap: 0.5rem;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.chat-input input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondaryColor);
  background: white;
  width: 85vw;
}

.send{
  border-radius: 0.65rem;
  cursor: pointer;
}